.chart div {
        font: 10px sans-serif;
        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: white;
}
.svg-chart rect {
        fill: steelblue;
    }

    .svg-chart text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
    }

.svg-circle circle {
    fill: steelblue;
}
.svg-circle2 circle {
    fill: steelblue;
}