body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 10px;
}

.district-select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.district-select-label {
    height: 20px;
    line-height: 20px;
    margin: 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
}

.search-button {
    margin-left: auto;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.pm-kpi-checkbox {
    display: flex;
    margin: 10px;
}

.kpi-selection {
    margin: 0px 10px;
}

.data-chart-container {
    overflow: auto;
    display: inline-block;
    width: 960px;
    border-color: black;
}

.data-chart {
    background-color: rgb(247, 252, 197);
    margin: 30px;
}

.pm-kpi-checkbox .aqi-label {
    color: rgb(0, 153, 102);
}

.pm-kpi-checkbox .pm2_5-label {
    color: rgb(128, 188, 77);
}

.pm-kpi-checkbox .pm10-label {
    color: rgb(255, 222, 51);
}

.pm-kpi-checkbox .co-label {
    color: rgb(255, 188, 51);
}

.pm-kpi-checkbox .no2-label {
    color: rgb(255, 152, 51);
}

.pm-kpi-checkbox .so2-label {
    color: rgb(102, 0, 153);
}