.container{
    margin-top: 10px;
}

.district-select-container{
    display: flex;
    flex-direction: row;
}

.district-select-label{
    height: 20px;
    line-height: 20px;
    margin: 10px;
}

.search-bar{
    display: flex;
    flex-direction: row;
}

.search-button{
    margin-left: auto;
}